input,select,button{
    padding: 10px;
}

.container {
    border: 8px solid #aaa;
    border-radius: 30px;
    background: rgb(208, 214, 221);
    margin:  0px 400px 0px 400px;
    padding: 50px;
    text-align: center;
    margin-top: 30px;
}

.mensagem-usuario {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #b9c6ce;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.oculto {
    display: none;
}

#titulo {
    margin-bottom: 50px;
    background-color: rgb(204, 202, 202);
    border-radius: 30px;
}

#resultado {
    margin-top: 50px;
}